
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#snakeHead {
  background-color: teal;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 210px;
  top: 210px;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}

#apple {
    background-color: red;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 20px; 
}